<section class="layout-section" id="section-layout">
        <div class="container">
            <div class="container-advantages">
<h3 class="benefits-layout">Переваги </h3>
<h2 class="title-layout">Чому обрати нас?</h2>
<p class="benefits-description">Наші сумки виготовлені з екологічно 
    чистих матеріалів, що забезпечують 
    стійкість i 
    довговічність. Обираючи EcoTote, ви підтримуєте 
    екологічну відповідальність.</p>
    </div>

<ul class="ul-list-layout">
     
    <li class="li-list-layout">
        <picture> 
            <source media="(min-width: 1440px)" srcset="/img/img-layout/organic-dex.jpg 1x, /img/img-layout/organic-dex@2x.jpg 2x">
            <source media="(min-width: 768px)" srcset="/img/img-layout/organic-tablet.jpg 1x, /img/img-layout/organic-tablet@2x.jpg 2x">
            <source media="(max-width: 767px)" srcset="/img/img-layout/organic-mobile.jpg 1x, /img/img-layout/organic-mobile@2x.jpg 2x">
        <img class="list-img-layout" src="/img/img-layout/organic-mobile.jpg" alt="Eco-friendly material">
        </picture>
        <h3 class="list-title-layout">Стійкість та екологічність</h3>
        <p class="list-description-layout">Виготовлені з органічної бавовни та переробленого пластику.</p>
    </li>

    <li class="li-list-layout">
        <picture>
            <source media="(min-width: 1440px)" srcset="/img/img-layout/strenght-dex.jpg 1x, /img/img-layout/strenght-dex@2x.jpg 2x">
            <source media="(min-width: 768px)" srcset="/img/img-layout/strenght-tablet.jpg 1x, /img/img-layout/strenght-tablet@2x.jpg 2x">
            <source media="(max-width: 767px)" srcset="/img/img-layout/strenght-mobile.jpg 1x, /img/img-layout/strenght-mobile@2x.jpg 2x">
        <img class="list-img-layout" src="/img/img-layout/strenght-mobile.jpg" alt="Sturdy bag">
        </picture>
        <h3 class="list-title-layout list-title-layout-strenght">Міцність i довговічність</h3>
        <p class="list-description-layout">Наші сумки мають посилені шви для тривалого використання.</p>
    </li>
    

    <li class="li-list-layout">
        <picture>
            <source media="(min-width: 1440px)" srcset="/img/img-layout/style-dex.jpg 1x, /img/img-layout/style-dex@2x.jpg 2x">
            <source media="(min-width: 768px)" srcset="/img/img-layout/style-tablet.jpg 1x, /img/img-layout/style-tablet@2x.jpg 2x">
            <source media="(max-width: 767px)" srcset="/img/img-layout/style-mobile.jpg 1x, /img/img-layout/style-mobile@2x.jpg 2x">
        <img class="list-img-layout" src="/img/img-layout/style-mobile.jpg" alt="Bag style">
        </picture>
        <h3 class="list-title-layout">Стильний та сучасний дизайн</h3>
        <p class="list-description-layout">Мінімалістичні моделі в обмежених серіях для кожного стилю.</p>
    </li>
   
</ul>
</div>
    </section>