<section class="assortment-section" id="assortment-section">
<div class="container">
    <h2 class="assortment-title">Наші сумки</h2>
<ul class="assortment-list">
    <li class="assortment-item">
         <picture>
          <source
           srcset="
            /img/assortment-img/assortment-bag1.jpg  1x, 
            /img/assortment-img/assortment-bag1@2x.jpg 2x
           "
           media="(min-width: 1440px)"
          />
          <source
           srcset="
            /img/assortment-img/assortment-bag1-tab.jpg  1x,
            /img/assortment-img/assortment-bag1@2x-tab.jpg 2x
           "
           media="(min-width: 768px)"
          />
          <source
           srcset="
            /img/assortment-img/assortment-bag1-mob.jpg  1x,
            /img/assortment-img/assortment-bag1@2x-mob.jpg 2x
           "
           media="(max-width: 767px)"
          />
          <img
           src="/img/assortment-img/assortment-bag1-mob.jpg"
           alt="EcoBag Classic"
          />
         </picture>
        <h3 class="assortment-name">EcoBag Classic</h3>
        <p class="assortment-descr">Елегантна та містка сумка для щоденного використання.</p>
        <span class="assortment-price">$25</span>
        <button class="assortment-btn" type="button">Купити</button>
    </li>
    <li class="assortment-item">
         <picture>
          <source
           srcset="
            /img/assortment-img/assortment-bag2.jpg  1x,
            /img/assortment-img/assortment-bag2@2x.jpg 2x
           "
           media="(min-width: 1440px)"
          />
          <source
           srcset="
            /img/assortment-img/assortment-bag2-tab.jpg  1x,
            /img/assortment-img/assortment-bag2@2x-tab.jpg 2x
           "
           media="(min-width: 768px)"
          />
          <source
           srcset="
            /img/assortment-img/assortment-bag2-mob.jpg  1x,
            /img/assortment-img/assortment-bag2@2x-mob.jpg 2x
           "
           media="(max-width: 767px)"
          />
          <img
           src="/img/assortment-img/assortment-bag2-mob.jpg"
           alt="EcoTote Shopper"
          />
         </picture>
        <h3 class="assortment-name">EcoTote Shopper</h3>
        <p class="assortment-descr">Ідеальна для покупок, з посиленими ручками.</p>
        <span class="assortment-price">$30</span>
        <button class="assortment-btn" type="button">Купити</button>
    </li>
    <li class="assortment-item">
         <picture>
          <source
           srcset="
            /img/assortment-img/assortment-bag3.jpg  1x,
            /img/assortment-img/assortment-bag3@2x.jpg 2x
           "
           media="(min-width: 1440px)"
          />
          <source
           srcset="
            /img/assortment-img/assortment-bag3-tab.jpg  1x,
            /img/assortment-img/assortment-bag3@2x-tab.jpg 2x
           "
           media="(min-width: 768px)"
          />
          <source
           srcset="
            /img/assortment-img/assortment-bag3-mob.jpg  1x,
            /img/assortment-img/assortment-bag3@2x-mob.jpg 2x
           "
           media="(max-width: 767px)"
          />
          <img
           src="/img/assortment-img/assortment-bag3-mob.jpg"
           alt="EcoBackpack Urban"
          />
         </picture>
        <h3 class="assortment-name">EcoBackpack Urban</h3>
        <p class="assortment-descr">Зручний рюкзак для міста з відділенням для ноутбука.</p>
        <span class="assortment-price">$45</span>
        <button class="assortment-btn" type="button">Купити</button>
    </li>
    <li class="assortment-item">
         <picture>
          <source
           srcset="
            /img/assortment-img/assortment-bag4.jpg  1x,
            /img/assortment-img/assortment-bag4@2x.jpg 2x
           "
           media="(min-width: 1440px)"
          />
          <source
           srcset="
            /img/assortment-img/assortment-bag4-tab.jpg  1x,
            /img/assortment-img/assortment-bag4@2x-tab.jpg 2x
           "
           media="(min-width: 768px)"
          />
          <source
           srcset="
            /img/assortment-img/assortment-bag4-mob.jpg  1x,
            /img/assortment-img/assortment-bag4@2x-mob.jpg 2x
           "
           media="(max-width: 767px)"
          />
          <img
           src="/img/assortment-img/assortment-bag4-mob.jpg"
           alt="EcoCrossbody Mini"
          />
         </picture>
        <h3 class="assortment-name">EcoCrossbody Mini</h3>
        <p class="assortment-descr">Компактна сумка через плече для найнеобхіднішого.</p>
        <span class="assortment-price">$20</span>
        <button class="assortment-btn" type="button">Купити</button>
    </li>
    <li class="assortment-item">
         <picture>
          <source
           srcset="
            /img/assortment-img/assortment-bag5.jpg  1x,
            /img/assortment-img/assortment-bag5@2x.jpg 2x
           "
           media="(min-width: 1440px)"
          />
          <source
           srcset="
            /img/assortment-img/assortment-bag5-tab.jpg  1x,
            /img/assortment-img/assortment-bag5@2x-tab.jpg 2x
           "
           media="(min-width: 768px)"
          />
          <source
           srcset="
            /img/assortment-img/assortment-bag5-mob.jpg  1x,
            /img/assortment-img/assortment-bag5@2x-mob.jpg 2x
           "
           media="(max-width: 767px)"
          />
          <img
           src="/img/assortment-img/assortment-bag5-mob.jpg"
           alt="EcoLunch Bag"
          />
         </picture>
        <h3 class="assortment-name">EcoLunch Bag</h3>
        <p class="assortment-descr">Стильна та практична сумка для обідів.</p>
        <span class="assortment-price">$15</span>
        <button class="assortment-btn" type="button">Купити</button>
    </li>
    <li class="assortment-item">
        <picture>
          <source
           srcset="
            /img/assortment-img/assortment-bag6.jpg  1x,
            /img/assortment-img/assortment-bag6@2x.jpg 2x
           "
           media="(min-width: 1440px)"
          />
          <source
           srcset="
            /img/assortment-img/assortment-bag6-tab.jpg  1x,
            /img/assortment-img/assortment-bag6@2x-tab.jpg 2x
           "
           media="(min-width: 768px)"
          />
          <source
           srcset="
            /img/assortment-img/assortment-bag6-mob.jpg  1x,
            /img/assortment-img/assortment-bag6@2x-mob.jpg 2x
           "
           media="(max-width: 767px)"
          />
          <img
           src="/img/assortment-img/assortment-bag6-mob.jpg"
           alt="EcoBeach Tote"
          />
         </picture>
        <h3 class="assortment-name">EcoBeach Tote</h3>
        <p class="assortment-descr">Велика сумка для пляжних речей з водонепроникною підкладкою.</p>
        <span class="assortment-price">$35</span>
        <button class="assortment-btn" type="button">Купити</button>
    </li>
    <li class="assortment-item">
         <picture>
          <source
           srcset="
            /img/assortment-img/assortment-bag7.jpg  1x,
            /img/assortment-img/assortment-bag7@2x.jpg 2x
           "
           media="(min-width: 1440px)"
          />
          <source
           srcset="
            /img/assortment-img/assortment-bag7-tab.jpg  1x,
            /img/assortment-img/assortment-bag7@2x-tab.jpg 2x
           "
           media="(min-width: 768px)"
          />
          <source
           srcset="
            /img/assortment-img/assortment-bag7-mob.jpg  1x,
            /img/assortment-img/assortment-bag7@2x-mob.jpg 2x
           "
           media="(max-width: 767px)"
          />
          <img
           src="/img/assortment-img/assortment-bag7-mob.jpg"
           alt="EcoTravel Duffle"
          />
         </picture>
        <h3 class="assortment-name">EcoTravel Duffle</h3>
        <p class="assortment-descr">Містка дорожня сумка з додатковими кишенями.</p>
        <span class="assortment-price">$60</span>
        <button class="assortment-btn" type="button">Купити</button>
    </li>
    <li class="assortment-item">
         <picture>
          <source
           srcset="
            /img/assortment-img/assortment-bag8.jpg  1x,
            /img/assortment-img/assortment-bag8@2x.jpg 2x
           "
           media="(min-width: 1440px)"
          />
          <source
           srcset="
            /img/assortment-img/assortment-bag8-tab.jpg  1x,
            /img/assortment-img/assortment-bag8@2x-tab.jpg 2x
           "
           media="(min-width: 768px)"
          />
          <source
           srcset="
            /img/assortment-img/assortment-bag8-mob.jpg  1x,
            /img/assortment-img/assortment-bag8@2x-mob.jpg 2x
           "
           media="(max-width: 767px)"
          />
          <img
           src="/img/assortment-img/assortment-bag8-mob.jpg"
           alt="EcoKids Bag"
          />
         </picture>
        <h3 class="assortment-name">EcoKids Bag</h3>
        <p class="assortment-descr">Яскрава та зручна сумка для дітей.</p>
        <span class="assortment-price">$22</span>
        <button class="assortment-btn" type="button">Купити</button>
    </li>  
</ul>
</div>
</section>