<section class="section">
<div class="container">
    <h2 class="assortiment-title"></h2>
<ul class="assortiment-list">
    <li class="assortiment-item">
        <img src="" alt="">
        <h3 class="assortiment-name"></h3>
        <p class="assortiment-descr"></p>
        <span class="assortiment-price"></span>
        <button type="button"></button>
    </li>
    <ul class="assortiment-list">
    <li class="assortiment-item">
        <img src="" alt="">
        <h3 class="assortiment-name"></h3>
        <p class="assortiment-descr"></p>
        <span class="assortiment-price"></span>
        <button type="button"></button>
    </li>
    <ul class="assortiment-list">
    <li class="assortiment-item">
        <img src="" alt="">
        <h3 class="assortiment-name"></h3>
        <p class="assortiment-descr"></p>
        <span class="assortiment-price"></span>
        <button type="button"></button>
    </li>
    <ul class="assortiment-list">
    <li class="assortiment-item">
        <img src="" alt="">
        <h3 class="assortiment-name"></h3>
        <p class="assortiment-descr"></p>
        <span class="assortiment-price"></span>
        <button type="button"></button>
    </li>
    <ul class="assortiment-list">
    <li class="assortiment-item">
        <img src="" alt="">
        <h3 class="assortiment-name"></h3>
        <p class="assortiment-descr"></p>
        <span class="assortiment-price"></span>
        <button type="button"></button>
    </li>
    <ul class="assortiment-list">
    <li class="assortiment-item">
        <img src="" alt="">
        <h3 class="assortiment-name"></h3>
        <p class="assortiment-descr"></p>
        <span class="assortiment-price"></span>
        <button type="button"></button>
    </li>
    <ul class="assortiment-list">
    <li class="assortiment-item">
        <img src="" alt="">
        <h3 class="assortiment-name"></h3>
        <p class="assortiment-descr"></p>
        <span class="assortiment-price"></span>
        <button type="button"></button>
    </li>
    <ul class="assortiment-list">
    <li class="assortiment-item">
        <img src="" alt="">
        <h3 class="assortiment-name"></h3>
        <p class="assortiment-descr"></p>
        <span class="assortiment-price"></span>
        <button type="button"></button>
    </li>
    
</ul>
</div>
</section>