<section id="feedbacks" class="section">
    <div class="container">
        <h2 class="feedbacks-name-block">Що говорять наші клієнти</h2>
        <ul class="feedbacks-client-list">
            <li class="feedbacks-item">
                <div class="feedbacks-card">
                    <ul class="feedbacks-star-list">
                        <li class="feedbacks-star-item">
                            <svg class="star-icon" width="24" height="24">
                                <use href="/img/icons.svg#feedback-icon-filles-star"></use>
                            </svg>
                        </li>
                        <li class="feedbacks-star-item">
                            <svg class="star-icon" width="24" height="24">
                                <use href="/img/icons.svg#feedback-icon-filles-star"></use>
                            </svg>
                        </li>
                        <li class="feedbacks-star-item">
                            <svg class="star-icon" width="24" height="24">
                                <use href="/img/icons.svg#feedback-icon-filles-star"></use>
                            </svg>
                        </li>
                        <li class="feedbacks-star-item">
                            <svg class="star-icon" width="24" height="24">
                                <use href="/img/icons.svg#feedback-icon-filles-star"></use>
                            </svg>
                        </li>
                        <li class="feedbacks-star-item">
                            <svg class="star-icon" width="24" height="24">
                                <use href="/img/icons.svg#feedback-icon-filles-star"></use>
                            </svg>
                        </li>
                    </ul>
                    <p class="feedbacks-text">
                        Сумка дуже зручна та стильна, використовую щодня!
                    </p>
                    <p class="feedbacks-author">Анна</p>
                </div>
            </li>
            <li class="feedbacks-item">
                <div class="feedbacks-card">
                    <ul class="feedbacks-star-list">
                        <li class="feedbacks-star-item">
                            <svg class="star-icon" width="24" height="24">
                                <use href="/img/icons.svg#feedback-icon-filles-star"></use>
                            </svg>
                        </li>
                        <li class="feedbacks-star-item">
                            <svg class="star-icon" width="24" height="24">
                                <use href="/img/icons.svg#feedback-icon-filles-star"></use>
                            </svg>
                        </li>
                        <li class="feedbacks-star-item">
                            <svg class="star-icon" width="24" height="24">
                                <use href="/img/icons.svg#feedback-icon-filles-star"></use>
                            </svg>
                        </li>
                        <li class="feedbacks-star-item">
                            <svg class="star-icon" width="24" height="24">
                                <use href="/img/icons.svg#feedback-icon-filles-star"></use>
                            </svg>
                        </li>
                        <li class="feedbacks-star-item">
                            <svg class="star-icon" width="24" height="24">
                                <use href="/img/icons.svg#feedback-icon-filles-star"></use>
                            </svg>
                        </li>
                    </ul>
                    <p class="feedbacks-text">
                        Відмінна якість матеріалів, приємно здивована.
                    </p>
                    <p class="feedbacks-author">Ігор</p>
                </div>
            </li>
            <li class="feedbacks-item">
                <div class="feedbacks-card">
                    <ul class="feedbacks-star-list">
                        <li class="feedbacks-star-item">
                            <svg class="star-icon" width="24" height="24">
                                <use href="/img/icons.svg#feedback-icon-filles-star"></use>
                            </svg>
                        </li>
                        <li class="feedbacks-star-item">
                            <svg class="star-icon" width="24" height="24">
                                <use href="/img/icons.svg#feedback-icon-filles-star"></use>
                            </svg>
                        </li>
                        <li class="feedbacks-star-item">
                            <svg class="star-icon" width="24" height="24">
                                <use href="/img/icons.svg#feedback-icon-filles-star"></use>
                            </svg>
                        </li>
                        <li class="feedbacks-star-item">
                            <svg class="star-icon" width="24" height="24">
                                <use href="/img/icons.svg#feedback-icon-filles-star"></use>
                            </svg>
                        </li>
                        <li class="feedbacks-star-item">
                            <svg class="star-icon" width="24" height="24">
                                <use href="/img/icons.svg#feedback-icon-filles-star"></use>
                            </svg>
                        </li>
                    </ul>
                    <p class="feedbacks-text">
                        Сумка повністю відповідає опису, рекомендую!
                    </p>
                    <p class="feedbacks-author">Олена</p>
                </div>
            </li>
            <li class="feedbacks-item">
                <div class="feedbacks-card">
                    <ul class="feedbacks-star-list">
                        <li class="feedbacks-star-item">
                            <svg class="star-icon" width="24" height="24">
                                <use href="/img/icons.svg#feedback-icon-filles-star"></use>
                            </svg>
                        </li>
                        <li class="feedbacks-star-item">
                            <svg class="star-icon" width="24" height="24">
                                <use href="/img/icons.svg#feedback-icon-filles-star"></use>
                            </svg>
                        </li>
                        <li class="feedbacks-star-item">
                            <svg class="star-icon" width="24" height="24">
                                <use href="/img/icons.svg#feedback-icon-filles-star"></use>
                            </svg>
                        </li>
                        <li class="feedbacks-star-item">
                            <svg class="star-icon" width="24" height="24">
                                <use href="/img/icons.svg#feedback-icon-filles-star"></use>
                            </svg>
                        </li>
                        <li class="feedbacks-star-item">
                            <svg class="star-icon-without-color" width="24" height="24">
                                <use href="/img/icons.svg#feedback-icon-filles-star"></use>
                            </svg>
                        </li>
                    </ul>
                    <p class="feedbacks-text">
                        Швидка доставка та гарне обслуговування.
                    </p>
                    <p class="feedbacks-author">Сергій</p>
                </div>
            </li>
        </ul>
    </div>
</section>