<!-- ================= HEADER ================= -->
<header class="header">
  <div class="navbar-container container">
    <a href="./index.html">
      <svg
        class="logo-header"
        width="103"
        height="39"
        aria-label="Логотип EcoTote"
      >
        <use href="/img/logo-icon.svg#logo-icon"></use>
      </svg>
    </a>
    <nav class="main-nav">
      <ul class="nav-link-list">
        <li><a href="#feature" class="nav-link">Про нас</a></li>
        <li><a href="#section-layout" class="nav-link">Переваги</a></li>
        <li><a href="#assortment-section" class="nav-link">Асортимент</a></li>
        <li><a href="#gallery" class="nav-link">Галерея</a></li>
        <li><a href="#" class="nav-link">Відгуки</a></li>
        <li><a href="#support" class="nav-link">Контакти</a></li>
      </ul>
    </nav>

    <address class="contacts-header">
      <ul class="contacts-header-list">
        <li>
          <a href="tel:+380999091122" class="contact-link"
            >+38 (099) 909 11 22</a
          >
        </li>
        <li>
          <a href="mailto:hello@ecotote.com" class="contact-link"
            >hello@ecotote.com</a
          >
        </li>
      </ul>
    </address>

    <button
      class="burger-btn"
      type="button"
      aria-label="Відкрити меню"
      data-menu-open
    >
      <svg class="burger-menu-icon" width="28" height="28">
        <use href="/img/icons.svg#burger-icon"></use>
      </svg>
    </button>
  </div>

  <!-- ===== mobile menu ===== -->
  <div class="mobile-menu is-ope" data-menu>
    <div class="mobile-menu-container container">
      <a href="./index.html">
        <svg
          class="logo-header-mobile-menu"
          width="103"
          height="39"
          aria-label="Логотип EcoTote"
        >
          <use href="/img/logo-icon.svg#logo-icon"></use>
        </svg>
      </a>
      <button
        class="button-mobile-close"
        type="button"
        aria-label="Закрити меню"
        data-menu-close
      >
        <svg width="32" height="32">
          <use href="/img/icons.svg#x-icon-close"></use>
        </svg>
      </button>

      <nav class="nav-list-mobile" aria-label="Мобільна навігація">
        <ul class="mobile-link-navigation-list">
          <li><a href="#feature">Про нас</a></li>
          <li><a href="#section-layout">Переваги</a></li>
          <li><a href="#assortment-section">Асортимент</a></li>
          <li><a href="#gallery">Галерея</a></li>
          <li><a href="#">Відгуки</a></li>
          <li><a href="#support">Контакти</a></li>
        </ul>
      </nav>

      <address class="mobile-contacts-header">
        <ul class="mobile-contacts-header-list">
          <li>
            <a href="tel:+380999091122" class="mobile-contact-link"
              >+38 (099) 909 11 22</a
            >
          </li>
          <li>
            <a href="mailto:hello@ecotote.com" class="mobile-contact-link"
              >hello@ecotote.com</a
            >
          </li>
        </ul>
      </address>
    </div>
  </div>
</header>
<script src="./src/menu.js"></script>
<!-- =============== END HEADER =============== -->
