   <!-- #region hero -->
    <section class="hero">
         <div class="conteiner"  >
            <div class="hero-main-div">
                <h1 class="main-title">EcoTote — Стиль, що не шкодить планеті</h1>
                <div class="hero-nested-div">
                    <p class="hero-txt">Екологічні сумки для тих, хто дбає про майбутнє. Обирайте стиль та відповідальність разом з EcoTote.</p>
                    <a class="btn-buy-now" href="#">Купити зараз</a>
                </div>
            </div>
                <picture class="hero-picture">
                    <source
                        media="(min-width: 1440px)"
                        srcset="/img/hero-section/hero-desktop.jpg 1x, /img/hero-section/hero-desktop2x.jpg 2x"
                    />

                    <source
                        media="(min-width: 768px)"
                        srcset="/img/hero-section/hero-tablet.jpg 1x, /img/hero-section/hero-tablet2x.jpg 2x"
                    />

                    <img
                        src="./img/hero/hero-mobile.jpg"
                        srcset="/img/hero-section/hero-mobile.jpg 1x, /img/hero-section/hero-mobile2x.jpg 2x"
                        alt="Набір бавовняних еко-сумок різних кольорів: молочна, бежева та зелена"
                        class="hero-image"
                    />
                </picture>
        </div>
    </section>
    <!-- #endregion hero -->
