.container {
    padding: 0 16px;
    max-width: 320px;
    margin: 0 auto;
}
.container-advantages {
    width: 288px;
}
.benefits-layout {
    
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    color: #030A06;
    padding-top: 32px;
    padding-bottom: 12px;
}
.title-layout {
    font-family: comfortaa, sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    color: #030A06;
    padding-bottom: 20px;
}
.benefits-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: #030A06;
    padding-bottom: 48px;
}
.ul-list-layout {
    display: flex;
    flex-direction: column;
    gap: 48px;
}
.li-list-layout {
    list-style: none;
}

.list-img-layout {
    border-radius: 32px;
    padding-bottom: 8px;
    overflow: hidden;
}
.list-img-layout img {
display: block;
width: 100%;
height: 100%;
object-fit: cover;
}
.list-title-layout {
    font-family: comfortaa, sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.4;
    letter-spacing: 0.01em;
    color: #030A06;
    padding-bottom: 4px;
}
.list-description-layout {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;

}

@media screen and (min-width: 768px) {
.container {
    padding: 0 32px;
    max-width: 768px;
}
.container-advantages {
    width: 704px;
}
.benefits-layout {
padding-top: 64px;
}

.list-img-layout {
    padding-bottom: 32px;
    
}
.title-layout {
    padding-bottom: 24px;
}
.benefits-description {
    font-size: 18px;
    padding-bottom: 32px;
}
  .ul-list-layout {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 24px;
  }

  .ul-list-layout > li:nth-child(-n + 2) {
      width: calc(50% - 12px);
  }



.list-title-layout {
    padding-bottom: 8px;
}
.list-title-layout-strenght {
    padding-bottom: 42px;
}
.list-description-layout {
    padding-bottom: 24px;
}

}
@media screen and (min-width: 1440px) {
    .container {
    padding: 0 64px;
    max-width: 1440px;
}
.container-advantages {
    width: 768px;
}
.title-layout  {
    font-weight: 700;
    font-size: 48px;
}
.benefits-description {
    padding-bottom: 80px;
}
  .ul-list-layout {
      flex-wrap: nowrap;
      flex-direction: row;
      gap: 24px;
  }
    .ul-list-layout > li {
      width: auto;
      flex: 1; 
  }
.list-img-layout {
    display: block;
    max-width: 100%;
    height: auto;
}
.list-title-layout {
    font-size: 32px;
    padding-bottom: 24px;
}
}