.assortment-section {
  padding-top: 32px;
  padding-bottom: 32px;
}

.assortment-title {
  font-family: comfortaa, sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  text-align: center;
  margin-bottom: 32px;
}

.assortment-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 40px;
}

.assortment-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}

.assortment-item img {
  width: 100%;
  border-radius: 32px;
  object-fit: cover;
  margin-bottom: 16px;
}

.assortment-name {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
}

.assortment-descr {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
  text-align: center;
}

.assortment-price {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.6;
  text-align: center;
  margin: 8px 0px 16px 0px;
}

.assortment-btn {
  border: 1px solid #030a06;
  border-radius: 6px;
  padding: 8px 20px;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  background-color: transparent;
  transition: opacity 250ms ease, color 250ms ease, border-color 250ms ease;
}

@media screen and (min-width: 768px) {
  .assortment-section {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .assortment-list {
    flex-direction: row;
    row-gap: 48px;
    column-gap: 24px;
  }

  .assortment-item {
    width: calc((100% - 48px) / 2);
  }
  .assortment-item:nth-child(2) .assortment-descr {
    max-width: 220px;
  }
  .assortment-item:nth-child(5) .assortment-price {
    margin-bottom: 38px;
  }
}

@media screen and (min-width: 1440px) {
  .assortment-list {
    flex-direction: row;
    row-gap: 64px;
  }

  .assortment-item {
    width: calc((100% - 72px) / 4);
  }

  .assortment-item:nth-child(5) .assortment-price,
  .assortment-item:nth-child(8) .assortment-price {
    margin-bottom: 27px;
  }
  .assortment-item:nth-child(5) img,
  .assortment-item:nth-child(8) img {
    margin-bottom: 27px;
  }

  .assortment-btn:hover,
  .assortment-btn:focus {
    opacity: 0.5;
    color: #030a06;
  }

  .assortment-btn:active {
    border-color: #113916;
    opacity: 0.6;
    color: #113916;
  }
}
