    /* ЗВИЧАНИЙ ТЕКСТ - font-family: "Fira Sans", sans-serif;
    ЗАГОЛОВКИ - font-family: "Comfortaa",sans-serif; 
    Перевіряйте завжди!!! */

html{
  scroll-behavior: smooth;
}

body {
  font-family: "Fira Sans", sans-serif;
  background-color: #EBF8ED;
  color: #030A06;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}