/* ================== HEADER ================== */

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
  background: #75d281;
}

.logo-header {
  margin-left: 64px;
  width: 106px;
  height: 45px;
}

.main-nav {
  display: flex;
  align-items: center;
}
.nav-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #030a06;
  text-decoration: none;
}

.nav-link-list {
  display: none;
  align-items: center;
  gap: 32px;
  list-style: none;

  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #030a06;
}

.contacts-header-list {
  display: none;
  list-style: none;
  gap: 16px;
  margin-right: 64px;
}
.nav-link:hover,
.contacts-header-list a:hover {
  text-decoration: underline;
  color: #030a06;
}

.nav-link:active,
.contacts-header-list a:active {
  text-decoration: underline;
  color: #75d281;
}
.contact-link {
  text-decoration: none;
  color: inherit;
}

/* BURGER BUTTON */
.burger-btn {
  padding: 0;
  border: none;
  background: transparent;
}

/*========== MOBILE ========== */
@media screen and (min-width: 320px) {
  .navbar-container {
    max-height: 64px;
  }
  .logo-header {
    margin-left: 20px;
  }
  .logo-header-mobile-menu {
    max-width: 106px;
    max-height: 45px;
  }
  .burger-btn {
    margin-right: 16px;
  }
  .contact-link {
    color: #030a06;
  }
  .mobile-contact-link:hover {
    text-decoration: underline;
    color: #030a06;
  }
}
/*========== TABLET ========== */
@media screen and (min-width: 768px) {
  .navbar-container {
    height: 64px;
  }
  .logo-header {
    margin-left: 32px;
  }
  .burger-btn {
    margin-right: 28px;
  }
}
/* ========== DESKTOP ========== */
@media screen and (min-width: 1440px) {
  .nav-link-list {
    display: flex;
  }

  .contacts-header-list {
    display: flex;
  }

  .burger-btn {
    display: none;
  }
}
/* ========== MOBILE MENU ========== */

.mobile-menu {
  position: fixed;
  inset: 0;
  background: #ffffff;
  transform: translateX(100%);
  transition: 0.3s ease;
  z-index: 1000;
  background-color: #75d281;
}

.mobile-menu.is-open {
  transform: translateX(0);
}

.mobile-menu-container {
  position: relative;
  margin-left: 32px;
  margin-top: 14px;
}

.button-mobile-close {
  border: none;
  background: transparent;
  position: absolute;
  top: 16px;
  right: 20px;
}

.mobile-link-navigation-list {
  list-style: none;
  padding: 0;
  padding-block: 32px;
  margin: 20px 0 40px 0;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.mobile-link-navigation-list a {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #030a06;
  text-decoration: none;
  font-family: 'Fira Sans', sans-serif;
}
.mobile-contacts-header-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.mobile-contact-link {
  font-size: 16px;
  font-weight: 400;
  color: #030a06;
  line-height: 160%;
  text-decoration: none;
  font-family: 'Fira Sans', sans-serif;
}
